body{
    font-family: 'Tinos', serif;
}
  
.selectable img {
    margin: 5px;
    padding: 5px;
    border: 2px solid #ffffff;
}

img.selected {
    border-color: red; /* will overwrite color, only */
}

img {
    width: 65px;
    align-self: center;
    flex: 0 0 auto;
}

.blur {
    filter: blur(4px);
}